* {
    box-sizing: border-box;
}

.prestation {
    display: flex;

}

#partenaires {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

#partenaires>h2 {
    width: 100%;
    text-align: center;
}

#partenaires>.part {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-width: 400px) {
    .prestation {
        width: 30%;
    }
}