#faq {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

#faq h2 {
    text-align: center;
    width: 100%;
}

#faq>ul {
    max-height: 1000px;
    list-style: none;
    margin: 0px;
    width: 40%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#faq>ul>li {
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}