footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#social>img{
    height: 20px;
    width: 20px;
}

#stats>h4{
margin: 0px;
}

footer>p{
    margin: 0px;
}