footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    margin: auto;
}

footer>a>img {
    height: 20px;
    width: 20px;
}

#stats>h4 {
    margin: 0px;
}

footer>p {
    margin: 0px;
}