  
body{
    padding:0px;
    margin:0px;
    font: 12px/22px Arial, Helvetica, sans-serif;
    color:#8f8b8c;
    background: url(../img/bg.jpg) center 0 repeat;
}

header>img{
    width: 70px;
    height: 70px;
    display: block;
}

nav{
    background-image: url(../img/header.jpg);
    width: 100%;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    z-index: 5;
}

label {
    padding-left: 10px;
    font-size: 50px;
    line-height: 70px;
}


.menu{
    display: flex;
    width:80%;
    align-items: center;
    padding: 5px;
    text-align: center;
}

nav a{
    width: 100%;
    display: block;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px; 
    color:black; 
    background: #e88800;
    line-height:22px;
    margin-left: 10px;
}

.dessous{
    display: none;
    list-style: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #e88800;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px;
    z-index: 3;
}

nav>.menu>a:hover{
    background-color: black;
    color: #e88800;

}


.deroulant:hover + .dessous{
    display: block;
}
.dessous:hover {
    display: block;
}
nav>label{
    display: none;
    font-size: 26px;
}

#burger{
    display: none;
}



@media only screen and (max-width: 600px) {
        nav>label {
            display: block;
            cursor: pointer;
        }
        .menu {
            text-align: center;
            widows: 100%;
            flex-direction: column;
            display: none;
        }
        .menu>a {
            display: block;
            margin: 0;
        }
        nav>div{
            flex: 1;
            order:2;
        }
        .dessous {
            display: block;
        }
        #burger:checked + .menu {
            display: block;
        }

        .dessous{
            background-color: #e887007e;
        }

    
}