body {
    padding: 0px;
    margin: 0px;
    font: 12px/22px Arial, Helvetica, sans-serif;
    color: #8f8b8c;
    background: url(../img/bg.jpg) center 0 repeat;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#social>img {
    height: 20px;
    width: 20px;
}

#stats>h4 {
    margin: 0px;
}

#stats>h4 {
    margin: 0px;
}